<div class="row">
  <div class="col">
    <h3> <%= @project.name %> </h3>
    <p> <%= @project.location %> </p>
    <p> <%= @project.surface %> </p>
    <p> <%= @project.duration %> </p>
    <p> <%= @project.description %> </p>
    <div class="project-gallery">
      <% @project.pictures.each do |img| %>
        <div class="gallery-item">
          <img class="gallery-image" src="<%= img.image.url %>" alt="First slide">
        </div>
      <% end %>
    </div>
    <%= link_to t('project_list'), admin_projects_path, class: "btn btn-info" %>
  </div>
</div>
