<div class="row">
  <div class="col">
    <div id="projectSlider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <% @project.pictures.each do |img| %>
          <img class="d-block w-100 slide-image" src="<%= img.image.url %>" alt="First slide">
          <% end %>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 slide-image" src="<%= @project.image_second %>" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 slide-image" src="<%= @project.image_third %>" alt="Third slide">
        </div>
      </div>
    </div>
    <h3> <%= @project.name %> </h3>
    <p> <%= @project.location %> </p>
    <p> <%= @project.surface %> </p>
    <p> <%= @project.duration %> </p>
    <p> <%= @project.description %> </p>
    <%= link_to t('project_list'), admin_projects_path, class: "btn btn-info" %>
  </div>
</div>

<script type="text/javascript">
  $('.carousel').carousel()
</script>
