<div class="container">
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  </p>
  <ul class="nav">
    <li class="active"><a href="/products">Our products</a></li>
  </ul>
</div>

<%= render '/application/header' %>

<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="p-5">
          <h1 class="display-4">Explore</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officiis eveniet velit tempora laboriosam architecto alias aspernatur nemo porro soluta.</p>
          <a href="#" class="btn btn-outline-secondary">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="<%=asset_path('architecture-explore.jpg')%>" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reiciendis veritatis quis? Doloremque perspiciatis voluptatum facilis aliquam placeat ullam repudiandae temporibus possimus non amet doloribus eaque, libero, sapiente voluptatem velit!</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui earum maiores aut voluptatibus accusamus?
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui earum maiores aut voluptatibus accusamus?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="create-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="p-5">
          <h1 class="display-4">Create</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officiis eveniet velit tempora laboriosam architecto alias aspernatur nemo porro soluta.</p>
          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="create-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Create Your Passion</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reiciendis veritatis quis? Doloremque perspiciatis voluptatum facilis aliquam placeat ullam repudiandae temporibus possimus non amet doloribus eaque, libero, sapiente voluptatem velit!</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui earum maiores aut voluptatibus accusamus?
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui earum maiores aut voluptatibus accusamus?
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="<%=asset_path('flat-create.jpg')%>" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
    </div>
  </div>
</section>

<section id="share-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="p-5">
          <h1 class="display-4">Share</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officiis eveniet velit tempora laboriosam architecto alias aspernatur nemo porro soluta.</p>
          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="share-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="<%=asset_path('builders-share.jpg')%>" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Share what you create</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reiciendis veritatis quis? Doloremque perspiciatis voluptatum facilis aliquam placeat ullam repudiandae temporibus possimus non amet doloribus eaque, libero, sapiente voluptatem velit!</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui earum maiores aut voluptatibus accusamus?
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui earum maiores aut voluptatibus accusamus?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
