<div class="card project-card h-100">
  <img class="card-img-top" src="<%=project.image%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= project.name %> </h5>
    <p class="card-text"> <%= project.location %> </p>
    <p class="card-text"> <%= project.surface %> </p>
    <p class="card-text"> <%= project.duration %> </p>
    <p class="card-text"> <%= project.description %> </p>
    <%= link_to t('show'), show_project_path(project), class: "btn btn-info" %>
  </div>
</div>
