<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="<%=asset_path('vica-sl-logo.svg')%>" width="30" height="30" class="d-inline-block align-top vica-logo" alt="">
    </a>
    <% if user_signed_in? %>
    <span> <%= t('signed_in_with') %> <strong><%= current_user.email %></strong> </span>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="<%=home_path%>" class="nav-link"><%=t('home')%></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle project-dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=t('services')%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><%=t('living_place')%></a>
            <a class="dropdown-item" href="#"><%=t('commercial')%></a>
            <a class="dropdown-item" href="#"><%=t('rehabilitation')%></a>
            <a class="dropdown-item" href="#"><%=t('public_equipment')%></a>
            <a class="dropdown-item" href="#"><%=t('industry')%></a>
          </div>
        </li>
        <li class="nav-item">
          <a href="<%=projects_path%>" class="nav-link"><%=t('projects')%></a>
        </li>
        <li class="nav-item">
          <a href="#create-head-section" class="nav-link"><%=t('about_us')%></a>
        </li>
        <li class="nav-item">
          <a href="#share-head-section" class="nav-link"><%=t('clients')%></a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <a href="<%=admin_projects_path%>" class="btn btn-primary"><%= t('admin') %></a>
        </li>
        <li class="nav-item">
          <%= link_to t('edit_profile'), edit_user_registration_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('log_out'), destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% content_for :footer do %>

<script>

  $('.project-dropdown').dropdown();

</script>

<% end %>
